body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--bg-color);
    transition: background-color 0.3s, color 0.3s;
}
.container {
    background-color: var(--bg-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--shadow);
    width: 100%;
    max-width: 400px;
    transition: background-color 0.3s, box-shadow 0.3s;
}
.container h1 {
    margin-top: 0;
    font-size: 24px;
    text-align: center;
    color: #1DA1F2;
}
.form-group {
    margin-bottom: 15px;
    transition: color 0.3s;
}
.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: var(--text-color);
    transition: color 0.3s;
}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s, background-color 0.3s, color 0.3s;
}
.form-group input[type="password"] {
    margin-bottom: 10px;
}
.form-group input[type="submit"] {
    background-color: #1DA1F2;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
.form-group input[type="submit"]:hover {
    background-color: #0d95e8;
}
.theme-toggle {
    width:100px;
    height:40px;
    position: absolute;
    top: 20px;
    right:0px;
}